// text & link colors
$black: #1A1A1A;
$blue: #2884ED;
$lightBlue: #249AD2;

// blue background for banding
$bgblue: #249AD2;

// borders & shading
$darkGray: #888888;
$lightGray: #cccccc;
$fadedGray: #eeeeee;
